#student-display {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 255, .2);
    margin: 100px auto;
    height: 575px;
    width: 700px;
    overflow: hidden;
    background-color: white;
}

input[id="name-search"] {
    width: 98%;
    margin-left: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
    outline: none;

}

#name-search:focus{
    border-bottom: 1px solid black
}

ul {
    overflow: auto;
    width: 815px;
    height: 100%;
    padding-left: 0;
    margin-top: 0;
}

li {
    display: flex;
    border-bottom: 1px solid #ccc;
}

.student-image {
    border: 1px solid red;
    margin-top: 30px;
}

img {
    margin-left: 15px;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 90px;
}

.student-info {
    margin-left: 25px;
    width: 100%;
    
}

.student-heading {
    /* border: 1px solid purple; */
    width: 83%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    font-size: 60px;
    color:rgb(186, 186, 186);
    border: none;
    /* margin-right: 10px; */
    margin-top: 0;
}

h1 {
    /* border: 1px solid blue; */
    margin-top: 18px;
}

p {
    font-size: small;
    /* border: 1px solid red; */
    margin-top: -10px;
    margin-left: 20px;
}