
<!-- {{ students | json }} -->
<div id="student-display">
    <div class="form-group">
        <input class="form-control" id="name-search" type="text" placeholder="Search by name" [(ngModel)]="searchName" (keyup)="filterStudents()">
        <input class="form-control" id="tag-search" type="text" placeholder="Search by tag" [(ngModel)]="tagName" (keyup)="filterStudents()">
    </div>

    <ul>
        <div *ngIf="filteredLength > 0 && filteredLength < 25; else unfiltered">
            <li *ngFor = "let student of filteredStudents; let i = index"> 
                <div class="student-image">
                    <img src="{{ student.pic }}">
                </div>
                <div class="student-info">
                    <div class="student-heading">
                        <h1>{{ student.fullName | uppercase }}</h1>
                        <button *ngIf="!student.isOpen; else opened" (click)= "filteredOpenDetails(i)"> + </button> 
                        <ng-template #opened>
                            <button (click)= "filteredCloseDetails(i)"> - </button>
                        </ng-template>
                    </div>
                    <p>Email: {{ student.email }}</p>
                    <p>Company: {{ student.company }}</p>
                    <p>Skill: {{ student.skill }}</p>
                    <p>Average: {{ student.average }}%</p>
                    <div class="student-grades" *ngIf="student.isOpen">
                        <p *ngFor = "let grade of student.grades; let j = index">Test {{ j + 1 }}: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ grade }}</p>
                    </div>
                    <!-- <div class="student-tags">
                        <input class="form-control" id="tag-input" type="text" placeholder="Add a tag" [(ngModel)]="tagName">
                    </div> -->
                </div>
            </li>
        </div>
        
        <ng-template #unfiltered>
            <li *ngFor = "let student of students; let i = index"> 
                <div class="student-image">
                    <img src="{{ student.pic }}">
                </div>
                <div class="student-info">
                    <div class="student-heading">
                        <h1>{{ student.fullName | uppercase }}</h1>
                        <button *ngIf="!student.isOpen; else opened" (click)= "openDetails(i)"> + </button>  
                        <ng-template #opened>
                            <button (click)= "closeDetails(i)"> - </button>
                        </ng-template>
                    </div>
                    <p>Email: {{ student.email }}</p>
                    <p>Company: {{ student.company }}</p>
                    <p>Skill: {{ student.skill }}</p>
                    <p>Average: {{ student.average }}%</p>
                    <div class="student-grades" *ngIf="student.isOpen">
                        <p *ngFor = "let grade of student.grades; let j = index">Test {{ j + 1 }}: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ grade }}</p>
                    </div>
                    <div class="student-tags">
                        <div class="added-tags  ">
                            <h6 *ngFor = "let tag of student.tags">{{ tag }}</h6>
                        </div>

                        <form #form="ngForm" class="tag-form" onsubmit="reset()">
                            <input class="tag-input" type="text" placeholder="Add a tag" name="addedTag" #studentTag (change)="getTag(i, studentTag.value)">
                        </form>
                    </div>
                </div>
            </li>
        </ng-template>
    </ul>
    
</div>